.card-body-div {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
}

.card-left {
    flex: 0 0 74%;
    max-width: 74%;
    height: 100%;
    overflow-y: auto;
}

.card-right {
    flex: 0 0 26%;
    max-width: 26%;
    height: 100%;
    top: 9.4%;
    right: 2.2%;
    padding: 0.5rem 0rem;
    padding-left: 0.6rem;
    justify-content: center;
    display: flex;
    position: fixed;
    align-items: center;
}

.div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;

}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.file-input-wrapper i {
    font-size: 1.4rem;
}

.file-input-wrapper input[type="file"] {

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-div {
    border: 0.2rem dotted rgb(10, 10, 10);
    width: 98.3%;
    height: 100%;
    margin-top: 0.3rem;
}

.span-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    margin-top: 0.4rem;
    font-size: 0.85rem;
}

.file-icon-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0.5rem;
}


.file-selected-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-service-div {
    height: 1rem;
    width: 50%;
    margin-left: 1rem;
}


@media(max-width:1200px) {
    .card-right {
        display: none;
    }

    .card-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 350px) {
    .span-div {
        font-size: 0.8rem;
    }
}